@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400&display=swap');
*{
    padding: 0;
    margin: 0;
}

h1{
    font-size: 30px;
    font-family: 'Oswald', sans-serif;
}

@media print{
    #print-btn{
        display: none;
    }
}
